# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/

# Environment variables
.env

# Logs
*.log
